*.dSYM
/SSSP
/LabelPropagation
/LpTrad
/PageRank
/PageRankDelta
/PageRankTrad
/PageRankTegra
/PageRankAe
/CF
/COEM
/BFS
/PageRankDelta
/PageRankTrad
/PageRankAe
/PageRankTegra
/PageRankMechine
/LpTegra
/LpDelta